body {
    background-color: rgb(82, 82, 82);
}

.container {
    width: 100%;
    height: 100%;
    color: lightgray;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}